/*Selector de ID*/
#tituloPrincipal {
    color: #65ffba;
    font-size: 50px;
}

.parrafoNegrita {
    font-weight: bold;
    color: brown;
}

.parrafoEspecial {
    font-family: Comic Sans MS;
}

.prioridad{
    color: red;
}

.prioridad2{
    color: aqua;
}

.prioridad1{
    color: blueviolet;
}

p {
    word-spacing: 8px;
}

.ejemploCajas{
    border: 2px solid black;
    /* 1 parámetro = aplica los 4 lados*/
    /* padding-top: 10px; */
    
    /* 2 parámetros - top/bottom - left/right*/ 
    /*padding: 20px 10px;*/
    
    /* 3 parámetros - top - left/right - bottom*/ 
    /*padding: 20px 10px 15px;*/
    
    /* 4 parámetros - top - right - bottom - left*/ 
    /*padding: 20px 10px 15px 30px; margin: 20px 10px 15px 30px; */ 
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

a:link {
    color: crimson;
    background-color: aquamarine;
    border: 2px solid aquamarine;
    margin: 5px;
    border-radius: 25px;
}

a:visited{
    color: black;
}

a:hover{
    color: white;
    background-color: green;
    transition: 1.5s;
}

a:active{
    color: white;
    background-color: purple;
}